

<h4 class="text text-info">Register Page!!!</h4>
<h5 class="text text-danger">{{msg}}</h5>

<form [formGroup]="regForm" (ngSubmit)="register()">
<div class="form-floating mb-3">
  <input type="number" formControlName="id" class="form-control" id="floatingInput"
   placeholder="Enter id">
  <label for="floatingInput">Enter Id</label>
  @if (getId()?.hasError('required') && getId()?.touched) {
    <div class="text text-danger">Id is mandatory</div>
  }
  @if (getId()?.hasError('idError') && getId()?.touched) {
    <div class="text text-danger">Id must be greater than 100 and less than 1000</div>
  }
   @if (getId()?.hasError('idExist') && getId()?.touched) {
    <div class="text text-danger">Id already exist</div>
  }


</div>

<div class="form-floating mb-3">
  <input type="text" formControlName="name" class="form-control"
   id="floatingName" placeholder="Enter Name">
  <label for="floatingName">Enter Name</label>
    @if (getName()?.hasError('required') && getName()?.touched) {
    <div class="text text-danger">Name  is mandatory</div>
  }
</div>

<div class="form-floating mb-3">
  <input type="text" formControlName="salary" class="form-control"
   id="floatingSalary" placeholder="Enter Salary">
  <label for="floatingSalary">Enter Salary</label>
</div>

<input type="submit" value="register" class="btn btn-primary">

</form>
